# ==============================================================================
# CONFIGURAÇÃO LOCAL PARA DOCKER
# ==============================================================================

# 1. NOME DO PROJETO
COMPOSE_PROJECT_NAME=cshotel

# 2. PORTAS A SEREM USADOS PELO SISTEMA
DATABASE_PORT=5432
PGADMIN_PORT=8081

# 3. CREDENCIAL PARA ACESSAR O PG ADMIN
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=password

# 4. CONFIGURAÇÃO DO BANCO
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=cshotel

# 5. PERMISSÕES (No Linux/WSL, rode 'id -u' e 'id -g' no terminal para ver os seus)
# Isso evita erro de "Permission Denied" no storage.
WWWUSER=1000
WWWGID=1000

DEV_API_HOST=host.docker.internal
DEV_API_PORT=1212